    <!-- modal edit Card newfeed -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" id="modCon">
            <ul class="list-group listDot">
                <li style="color:red; font-weight:500">Unfollow</li>
                <hr class="hrList">
                <li>Go to post</li>
                <hr class="hrList">
                <li>Edit</li>
                <hr class="hrList">
                <li>Delete</li>
                <hr class="hrList">
                <li class="cancelList">Cancel</li>
            </ul>
        </div>

    </div>
    <div id="display-modal-comment">

    </div>
    
</body>

<script>
    // When the user clicks on button cancle the modal
        //  Show notifications liked
        function showNoticeLiked(self) {
            var colorHeart = $(self).children().children().attr("d")
            var color = "M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
            if(colorHeart == color){
                $("#t4").attr("d","M 34.6 3.1 c -4.5 0 -7.9 1.8 -10.6 5.6 c -2.7 -3.7 -6.1 -5.5 -10.6 -5.5 C 6 3.1 0 9.6 0 17.6 c 0 7.3 5.4 12 10.6 16.5 c 0.6 0.5 1.3 1.1 1.9 1.7 l 2.3 2 c 4.4 3.9 6.6 5.9 7.6 6.5 c 0.5 0.3 1.1 0.5 1.6 0.5 s 1.1 -0.2 1.6 -0.5 c 1 -0.6 2.8 -2.2 7.8 -6.8 l 2 -1.8 c 0.7 -0.6 1.3 -1.2 2 -1.7 C 42.7 29.6 48 25 48 17.6 c 0 -8 -6 -14.5 -13.4 -14.5 Z")
                $("#t1").attr("d","M 45.3 48 H 30 c -0.8 0 -1.5 -0.7 -1.5 -1.5 V 34.2 c 0 -2.6 -2 -4.6 -4.6 -4.6 s -4.6 2 -4.6 4.6 v 12.3 c 0 0.8 -0.7 1.5 -1.5 1.5 H 2.5 c -0.8 0 -1.5 -0.7 -1.5 -1.5 V 23 c 0 -0.4 0.2 -0.8 0.4 -1.1 L 22.9 0.4 c 0.6 -0.6 1.5 -0.6 2.1 0 l 21.5 21.5 c 0.4 0.4 0.6 1.1 0.3 1.6 c 0 0.1 -0.1 0.1 -0.1 0.2 v 22.8 c 0.1 0.8 -0.6 1.5 -1.4 1.5 Z m -13.8 -3 h 12.3 V 23.4 L 24 3.6 l -20 20 V 45 h 12.3 V 34.2 c 0 -4.3 3.3 -7.6 7.6 -7.6 s 7.6 3.3 7.6 7.6 V 45 Z")
            }else{
                $("#t4").attr("d",color)
                $("#t1").attr("d","M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z")

            }
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/getNotice", true);

            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var html = ""
                    for (var a = 0; a < response.data.length; a++) {
                      var data = response.data[a];
                        var current_user = response.id

                            for (var b = 0; b < data.notifications.length; b++) {
                                var notice = data.notifications[b];
                                    if( (data._id != notice.idLiked && notice.isRead===false) || data._id != notice.idCommented && (notice.type == 'post_comment' || notice.type == 'reply_comment') ){
                                        html += " <li> "
                                            html+= " <img  src=" + notice.profileImage  +" width="+'30'+" height="+'30'+"  style="+'border-'+'radius:'+'50% 50%'+">"
                                            html+= "<a  data-id="+notice.post._id+" id="+notice._id+" onclick="+'goPost(this)'+">"
                                                html += notice.content
                                            html += "</a>"
                                        html+= "</li>"
                                    }
                                    
                                
                                    
                            }
                        document.getElementById("list-noti").innerHTML = html;
                        
                    }
                  
               
                }
            };
            var formData = new FormData();
            ajax.send(formData);

        }
      
        // Go to card liked
        function goPost(self){
            var val = $(self).attr("data-id")
            var idNotice = $(self).attr("id")
            var myHeart = $("#modalHeart");
            var color = "M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
            var idCard = "Newfeed-"+val
            var x = document.getElementById(idCard).offsetTop; 
            var body = $("html, body");
            body.stop().animate({scrollTop:x}, 10, 'swing', function() { 
            });
            $.ajax({
                    method: "POST",
                    url: "/postNotice",
                    data: {
                        idPost:val,
                        idNotice:idNotice
                    },
                    cache: false,
                    success: function(responseText) {
                        if (responseText.status == "success") {
                            console.log("data   "+responseText.data)
                            myHeart.removeClass('showHeart') 
                            $("#t4").attr("d",color)
                            $("#t1").attr("d","M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z")
                            showNotice();
						}
					
                    },
                    error:function(responseText) {
                        alert(responseText)
                    }
                    });
                            
                      

        }
   
        // show notifications followed
        function showNoticeFollowed(self) {
            var colorCompass = $(self).children().children().attr("d")
            var myCompass = $("#modalCompass");
            var color = "M24 0C10.8 0 0 10.8 0 24s10.8 24 24 24 24-10.8 24-24S37.2 0 24 0zm0 45C12.4 45 3 35.6 3 24S12.4 3 24 3s21 9.4 21 21-9.4 21-21 21zm10.2-33.2l-14.8 7c-.3.1-.6.4-.7.7l-7 14.8c-.3.6-.2 1.3.3 1.7.3.3.7.4 1.1.4.2 0 .4 0 .6-.1l14.8-7c.3-.1.6-.4.7-.7l7-14.8c.3-.6.2-1.3-.3-1.7-.4-.5-1.1-.6-1.7-.3zm-7.4 15l-5.5-5.5 10.5-5-5 10.5z"
            if(colorCompass == color){
                $("#t3").attr("d","M 24 0 C 10.8 0 0 10.8 0 24 s 10.8 24 24 24 s 24 -10.8 24 -24 S 37.2 0 24 0 Z m 12.2 13.8 l -7 14.8 c -0.1 0.3 -0.4 0.6 -0.7 0.7 l -14.8 7 c -0.2 0.1 -0.4 0.1 -0.6 0.1 c -0.4 0 -0.8 -0.2 -1.1 -0.4 c -0.4 -0.4 -0.6 -1.1 -0.3 -1.7 l 7 -14.8 c 0.1 -0.3 0.4 -0.6 0.7 -0.7 l 14.8 -7 c 0.6 -0.3 1.3 -0.2 1.7 0.3 c 0.5 0.4 0.6 1.1 0.3 1.7 Z m -15 7.4 l -5 10.5 l 10.5 -5 l -5.5 -5.5 Z")
                $("#t1").attr("d","M 45.3 48 H 30 c -0.8 0 -1.5 -0.7 -1.5 -1.5 V 34.2 c 0 -2.6 -2 -4.6 -4.6 -4.6 s -4.6 2 -4.6 4.6 v 12.3 c 0 0.8 -0.7 1.5 -1.5 1.5 H 2.5 c -0.8 0 -1.5 -0.7 -1.5 -1.5 V 23 c 0 -0.4 0.2 -0.8 0.4 -1.1 L 22.9 0.4 c 0.6 -0.6 1.5 -0.6 2.1 0 l 21.5 21.5 c 0.4 0.4 0.6 1.1 0.3 1.6 c 0 0.1 -0.1 0.1 -0.1 0.2 v 22.8 c 0.1 0.8 -0.6 1.5 -1.4 1.5 Z m -13.8 -3 h 12.3 V 23.4 L 24 3.6 l -20 20 V 45 h 12.3 V 34.2 c 0 -4.3 3.3 -7.6 7.6 -7.6 s 7.6 3.3 7.6 7.6 V 45 Z")
                myCompass.addClass('showCompass') 
            }else{
                $("#t3").attr("d",color)
                $("#t1").attr("d","M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z")
                myCompass.removeClass('showCompass') 
            }
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/getNotice", true);

            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var html = ""
                    for (var a = 0; a < response.data.length; a++) {
                      var data = response.data[a];
         
                        var current_user = response.id

                            for (var i = 0; i < data.notifications.length; i++) {
                                var notice = data.notifications[i];
                                    if(notice.type == "follower" && notice.type != "photo_liked" && notice.type !="received_message"){
                                        html += " <li> "
                                            html+= " <img  src=" + notice.profileImage  +" width="+'30'+" height="+'30'+"  style="+'border-'+'radius:'+'50% 50%'+">"
                                            html+= "<a  data-id="+notice._id+" id="+notice._id+" >"
                                                html += notice.content
                                            html += "</a>"
                                            if( data.followings.length > 0){
                                                for(var j = 0; j < data.followings.length; j++){
                                                    var follow = data.followings[j];
                                        
                                                    if(follow.idFollowing == notice.idFollowed){
                                                        html+='<button id="btn-'+notice.idFollowed+'"  onclick="btnFollow(' + "'" + "this" + "'" + "," + "'" + notice.idFollowed + "'"+"," + "'" + "wordImg" + "'" +"," + "''" + ","  + "'" + notice._id +"'" +')"  type="button" class="btn btn-primary" style="width:60px; height:24px; margin-left:3px;font-size:14px; color:#333;  background-color: #fff; border: 0.5px solid #DBDBDB;">'
                                                            html+= '<p style="position:relative;top:-8px;right:12px" id="'+notice.idFollowed+'">'
                                                                html += 'Unfollow'
                                                            html+= '</p>'
                                                        html+= '</button>'
                                                    }else{
                                                        html+='<button id="btn-'+notice.idFollowed+'" onclick="btnFollow(' + "'" + "this" + "'" + "," + "'" + notice.idFollowed + "'"+"," + "'" + "wordImg" + "'" +"," + "'"+notice.id_follow_back+"'" + ","  + "'" + notice._id +"'" +')" type="button" class="btn btn-primary" style="width:60px; height:24px;text-align:center ;margin-left:3px;font-size:14px;color:#fff">'
                                                            html+= '<p style="position:relative;top:-8px;right:10px" id="'+notice.idFollowed+'">'
                                                                html += 'Follow'
                                                            html+= '</p>'
                                                        html+= '</button>'
                                                    }
                                                 }
                                            }else{
                                                html+='<button id="btn-'+notice.idFollowed+'" onclick="btnFollow(' + "'" + "this" + "'" + "," + "'" + notice.idFollowed + "'" +"," + "'" + "wordImg" + "'" +"," + "'"+notice.id_follow_back+"'" + ","  + "'" + notice._id +"'" +')" type="button" class="btn btn-primary" style="width:60px; height:24px; margin-left:3px;font-size:14px;color:#fff">'
                                                    html+= '<p style="position:relative;top:-8px;right:10px" id="'+notice.idFollowed+'">'
                                                        html += 'Follow'
                                                    html+= '</p>'
                                                html+= '</button>'
                                            }
                                         
                                         
                                        html+= "</li>"
                                    }
                                    if(notice.type != "follower" && notice.type != "photo_liked" && notice.type =="received_message"){
                                      
                                        html += " <li> "
                                            html+= " <img  src=" + notice.profileImage  +" width="+'30'+" height="+'30'+"  style="+'border-'+'radius:'+'50% 50%'+">"
                                            html+= "<a  data-id="+notice._id+" id="+notice._id+" >"
                                                html += notice.content
                                            html += "</a>"
                                            if( data.followings.length > 0){
                                                for(var j = 0; j < data.followings.length; j++){
                                                    var follow = data.followings[j];
                                                   
                                                    if(follow.idFollowing == notice.idFollowed){
                                                        html+='<button id="btn-'+notice.idFollowed+'"  onclick="btnFollow(' + "'" + "this" + "'" + "," + "'" + notice.idFollowed + "'" +"," + "'" + "wordImg" + "'" +"," + "" + ","  + "'" + notice._id +"'"+')"  type="button" class="btn btn-primary" style="width:60px; height:24px; margin-left:3px;font-size:14px; color:#333;  background-color: #fff; border: 0.5px solid #DBDBDB;">'
                                                            html+= '<p style="position:relative;top:-8px;right:12px" id="'+notice.idFollowed+'">'
                                                                html += 'Unfollow'
                                                            html+= '</p>'
                                                        html+= '</button>'
                                                    }else{
                                                        html+='<button id="btn-'+notice.idFollowed+'" onclick="btnFollow(' + "'" + "this" + "'" + "," + "'" + notice.idFollowed + "'" +"," + "'" + "wordImg" + "'" +"," + "'" + notice.id_follow_back + "'" + ","  + "'" + notice._id +"'"+')" type="button" class="btn btn-primary" style="width:60px; height:24px;text-align:center ;margin-left:3px;font-size:14px;color:#fff">'
                                                            html+= '<p style="position:relative;top:-8px;right:10px" id="'+notice.idFollowed+'">'
                                                                html += 'Follow'
                                                            html+= '</p>'
                                                        html+= '</button>'
                                                    }
                                                 }
                                            }else{
                                                html+='<button id="btn-'+notice.idFollowed+'" onclick="btnFollow(' + "'" + "this" + "'" + "," + "'" + notice.idFollowed + "'" +"," + "'" + "wordImg" + "'" +"," + "'" + notice.id_follow_back + "'"+ ","  + "'" + notice._id +"'" +')" type="button" class="btn btn-primary" style="width:60px; height:24px; margin-left:3px;font-size:14px;color:#fff">'
                                                    html+= '<p style="position:relative;top:-8px;right:10px" id="'+notice.idFollowed+'">'
                                                        html += 'Follow'
                                                    html+= '</p>'
                                                html+= '</button>'
                                            }
                                         
                                         
                                        html+= "</li>"
                                    }
                                
                                    
                            }
                        document.getElementById("list-noti-compass").innerHTML = html;
                        
                    }
                  
               
                }
            };
            var formData = new FormData();
            ajax.send(formData);

        }

         // follow
         function btnFollow(self, id,clas,id_follow_back,id_notice) {
             console.log(id)
            $.ajax({
                method: "POST",
                url: "/userFollow",
                data: {
                    _id: id,
                    id_follow_back:id_follow_back,
                    id_notice:id_notice
                },
                cache: false,
                success: function (responseText) {
                    countHeart = responseText.count
                    if (responseText.status == "follow") {
                        if(clas === "wordImg"){
                            $("#right-" + id).text('Unfollow')          // right card
                            $("#btFollow-"+id).text('Unfollow')         // follow in profile
                            $("#" + id).text('Unfollow')                // list scrollbar 
                            $("#lis-" + id).text('Unfollow') 

                            $("#" + id).css('color', '#333')
                            $("#btFollow-"+id).css('color','#333')
                            $("#lis-" + id).css('color','#333') 
                            $("#" + id).css("text-decoration", "none")
                            
                            $("#btFollow-"+id).css('background-color','#fff')
                            $("#lis-"+id).css('background-color','#fff')
                            $("#btn-" + id).css("background-color", "#fff")
                          
                            $("#btFollow-"+id).css('border','0.5px solid #DBDBDB')
                            $("#lis-"+id).css('border','0.5px solid #DBDBDB')
                            $("#btn-" + id).css("border", "0.5px solid #DBDBDB")
                        }
                    }
                    if (responseText.status == "unfollow") {
                        if(clas === "wordImg"){
                            $("#right-" + id).text('Follow')
                            $("#" + id).text('Follow')
                            $("#btFollow-"+id).text('Follow')
                            $("#lis-" + id).text('Follow') 

                            $("#" + id).css('color', '#fff')
                            $("#btFollow-"+id).css('color','#fff')
                            $("#lis-" + id).css('color','#fff')
                           
                            $("#lis-" + id).css('background-color','#0095F6')
                            $("#btFollow-"+id).css('background-color','#0095F6')
                            $("#btFollow-" + id).css("background-color", "#0095F6")
                            $("#btn-" + id).css("background-color", "#0095F6")
                        }
                    
                    }
                },
                error: function (responseText) {
                    alert(responseText)
                }
            });
        }

        // preview image before post
        function previewPostImage() {
                var input = document.getElementById('file');
                var output = document.getElementById('gal');
                var html = "";
                for (var i = 0; i < input.files.length; ++i) {
                    (function (index) {

                        if (input.files.length > 0) {

                            var fileReader = new FileReader();
                            fileReader.readAsDataURL(input.files.item(i));
                            fileReader.onload = function (event) {

                                html += '<div class="image" id="i-' + index + '">'
                                html += '<div class="cover-remove">'
                                html += '<span class="remove-image" id="span' + index + '" onclick="removeImage(' + index + ')">'
                                html += `&#x2715`
                                html += '</span>'
                                html += '</div>'

                                html += '<img src="' + event.target.result + '" id="img-' + index + '"  class="post-img-preview" name="imagePost" " alt="">'

                                html += ' </div>'

                                output.innerHTML = html;

                            };



                            $("#ptNew").css('opacity', "1");
                        }
                    })(i);

                    // html += '<li>' + input.files.item(i).name + '</li>';
                }

            }

        function removeImage(n) {

            document.getElementById("img-" + n).remove();
            document.getElementById("i-" + n).value = "";
            document.getElementById("i-" + n).remove();
        }

        // preview video before post
        function previewPostVideo() {
            var input = document.getElementById('fileVideo');
            var output = document.getElementById('vid');
            var html = "";
            for (var i = 0; i < input.files.length; ++i) {
                (function (index) {
                    if (input.files.length > 0) {
                        var fileReader = new FileReader();
                        fileReader.onload = function (event) {
                            html += '<div class="image">'
                            html += '<div class="cover-remove">'
                            html += '<span class="remove-image" id="spa' + index + '" onclick="removeVideo(' + index + ')" >'
                            html += `&#x2715`
                            html += '</span>'
                            html += '</div>'
                            html += '<video  controls>'
                            html += '<source src="' + event.target.result + '"  id="video-' + index + '" class="post-video-preview" name="videoPost"  alt="" type="video/mp4">'
                            html += '</video>'
                            html += ' </div>'

                            output.innerHTML = html;
                        };

                        fileReader.readAsDataURL(input.files.item(i));
                        $("#ptNew").css('opacity', "1");

                    }
                })(i);
            }

        }

        function removeVideo(index) {

        }

        // turnoff modal comment
        function returnNewfeed(){
            var span = document.getElementsByClassName("exit-modal-comment")[0]; // Get the <span> element that closes the modal 
            span.addEventListener('contextmenu', function(ev) {
                ev.preventDefault();
                $('.modal-com-new').css('display','none')
                $('.sticky-top').css('z-index','1')
                $('.card.nameCard').css('z-index','0')
                $('body').removeClass('stop-scrolling')
                showNewsfeed();
            }, false);

        }

        // post newfeed
        function doPost(form) {
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/addPost", true);

            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    if (response.status == "success") {
                        $(".image").css('display', 'none')
                        document.getElementById("post-new-feed").querySelector("textarea[name='caption']").value = "";
                        showNewsfeed();
                        form.reset();
                    }
                    else {
                        alert(response.error)
                    }

                }

            };

            var formData = new FormData(form);
            ajax.send(formData);

            return false;

        }

        // post comment card 
        function doPostComment(form,id){
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/addComment", true);

            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    if (response.status == "success") {
                        var html = ""
                        document.getElementById("post-comment-new").querySelector("textarea[name='commentPost']").value = "";
                        showNewsfeed();
                        form.reset();
                    }
                    else {
                        alert(response.error)
                    }

                }

            };

            var formData = new FormData(form);
            ajax.send(formData);

            return false;
        }
       
        // post comment card modal
        function doPostCommentModal(form){
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/addComment", true);
            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var html = ""
                    if (response.status == "success") {
                     document.getElementById("post-comment-new").querySelector("textarea[name='commentPost']").value = "";
                     form.reset();
                     modalComment('',response.id_post)
                     hideName(response.id_post)
                    }
                }
            };
            var formData = new FormData(form);
            ajax.send(formData);
            return false;
        }

        // display modal edit of cards newfeed
        function modelCard(self) {
            // handle modal card
            var modal = document.getElementById("myModal");
            var modCon = document.getElementById("modCon");
            var nav = document.getElementById("navColor")
            var id = $(self).attr("data-id")
            // var idMod = "mod-"+id
            // var btn = document.getElementsById(idMod); // Get the button that opens the modal
            var span = document.getElementsByClassName("cancelList")[0]; // Get the <span> element that closes the modal
            var mode = document.getElementsByClassName("modal-content")[0]; 
            var mod = document.getElementsByClassName("modal")[0]; 
            var navbar= document.getElementsByClassName("navbar")[0]; 
            if (id) {
                // When the user clicks the button, open the modal card
                modal.style.display = "block";
                modCon.style.display = "block";
                modal.style.opacity = "1";
                $('.seeCard').css('z-index','-1')
                $('.sticky-top').css('z-index','0')
                $('.card').css('z-index','-1')
                $('body').addClass('stop-scrolling')
            }


            // When the user clicks on button cancle the modal
            span.onclick = function () {
                modal.style.display = "none";
                $('body').removeClass('stop-scrolling')
                $('.sticky-top').css('z-index','1')
                $('.card').css('z-index','0')
            }
            mode.onclick = function () {
                modal.style.display = "none";
                modCon.style.display = "none";
                $('body').removeClass('stop-scrolling')
                $('.sticky-top').css('z-index','1')
                $('.card').css('z-index','0')
            }
            mod.onclick = function () {
                modal.style.display = "none";
                modCon.style.display = "none";
                $('body').removeClass('stop-scrolling')
                $('.sticky-top').css('z-index','1')
                $('.card').css('z-index','0')
            }
            navbar.onclick = function () {
                modal.style.display = "none";
                modCon.style.display = "none";
                $('body').removeClass('stop-scrolling')
                $('.sticky-top').css('z-index','1')
                $('.card').css('z-index','0')
            }
        
        }

        // display modal comment card newfeed
        function modalComment(self,id_post_current) {
            $.ajax({
                method: "POST",
                url: "/getPost",
                data: {
                    _id: id_post_current
                },
                cache: false,
                success: function (responseText) {
                    if (responseText.status == "success") {
                     
                        var html =""
                        for (var a = 0; a < responseText.data.length; a++) {
                        var data = responseText.data[a];
                 
                        var user = responseText.user
                        var id = responseText.id
                        
                        // modal comment 
                        html += ' <div id="modalComment" class="modal-com-new" >'
                            html += ' <div class="modal-content-comment" id="modal-view" >'
                               html += '<i class="fas fa-times exit-modal-comment" id="exit-modal-comment" onclick=returnNewfeed()>'
                                html += '</i>'
                                html+= '<div class="card card-comment" >'
                                    if (data.image.length !== 0 && data.video.length !== 0) {
                                        var sumLength = data.video.length + data.image.length

                                        html += ' <div class="cover-next-prev-modal">'
                                                html += ' <i class="fas fa-chevron-circle-right next-img-modal" id="next-img-modal-' + data._id + '" onclick="slideImageModal(' + "'" + "right" + "'" + "," + "'" + sumLength + "'" + "," + "'" + data._id + "'" + ')" >'
                                                html += ' </i>'
                                                html += ' <i class="fas fa-chevron-circle-left prev-img-modal"  id="prev-img-modal-' + data._id + '" onclick="slideImageModal(' + "'" + "left" + "'" + "," + "'" + sumLength + "'" + "," + "'" + data._id + "'" + ')">'
                                                html += ' </i>'
                                        html += '</div>'

                                        html+= '<div class="viewport-modal">'
                                            html+= '<ul class="list-modal" id="list-modal-'+ data._id +'">'
                                            for (var j = 0; j < data.image.length; j++) {
                                                html+= '<li class="item-modal">'
                                                    html += '<img class="card-img-top" src="/demo/' + data.image[j].originalname + ' " alt="Card image cap" style="border-radius: 0%;" >';
                                                html+= '</li>'
                                            }
                                            for (var j = 0; j < data.video.length; j++) {
                                                html += ' <li class="item-image" id="1">'
                                                    html += ' <iframe width="590" height="586" src="/demo/' + data.video[j].originalname + ' " frameborder="0" allowfullscreen>'
                                                    html += '</iframe>'
                                                html += ' </li>'
                                            }
                                            html+= '</ul>'
                                        html+= ' </div>'
                                        }

                                    if (data.image.length !== 0 && data.video.length == 0) {

                                        html += ' <div class="cover-next-prev-modal">'
                                            if (data.image.length > 1) {
                                                html += ' <i class="fas fa-chevron-circle-right next-img-modal" id="next-img-modal-' + data._id + '" onclick="slideImageModal(' + "'" + "right" + "'" + "," + "'" + data.image.length + "'" + "," + "'" + data._id + "'" + ')" >'
                                                html += ' </i>'
                                                html += ' <i class="fas fa-chevron-circle-left prev-img-modal"  id="prev-img-modal-' + data._id + '" onclick="slideImageModal(' + "'" + "left" + "'" + "," + "'" + data.image.length + "'" + "," + "'" + data._id + "'" + ')">'
                                                html += ' </i>'
                                            }
                                        html += '</div>'

                                        html+= '<div class="viewport-modal">'
                                            html+= '<ul class="list-modal" id="list-modal-'+ data._id +'">'
                                            for (var j = 0; j < data.image.length; j++) {
                                                html+= '<li class="item-modal">'
                                                    html += '<img class="card-img-top" src="/demo/' + data.image[j].originalname + ' " alt="Card image cap" style="border-radius: 0%;" >';
                                                html+= '</li>'
                                            }
                                            html+= '</ul>'
                                        html+= ' </div>'

                                    }
                                    
                                    if (data.image.length == 0 && data.video.length !== 0) {
                    
                                        html += ' <div class="cover-next-prev-modal">'
                                            if (data.video.length > 1) {
                                                html += ' <i class="fas fa-chevron-circle-right next-img-modal" id="next-img-modal-' + data._id + '" onclick="slideImageModal(' + "'" + "right" + "'" + "," + "'" + data.video.length + "'" + "," + "'" + data._id + "'" + ')" >'
                                                html += ' </i>'
                                                html += ' <i class="fas fa-chevron-circle-left prev-img-modal"  id="prev-img-modal-' + data._id + '" onclick="slideImageModal(' + "'" + "left" + "'" + "," + "'" + data.video.length + "'" + "," + "'" + data._id + "'" + ')">'
                                                html += ' </i>'
                                            }
                                        html += '</div>'

                                        html+= '<div class="viewport-modal">'
                                            html+= '<ul class="list-modal" id="list-modal-'+ data._id +'">'
                                                for (var j = 0; j < data.video.length; j++) {
                                                    html += ' <li class="item-image" id="1">'
                                                    html += '   <iframe width="590" height="586" src="/demo/' + data.video[j].originalname + ' " frameborder="0" allowfullscreen sandbox>'
                                                    html += '</iframe>'
                                                    html += ' </li>'
                                                }
                                            html+= '</ul>'
                                        html+= ' </div>'

                                        }
                                    // frame comment
                                    html+= '<div class="card-body" >'
                                        // infor user
                                        html += '<div class="row nameInfor img-cover-modal">';
                                            html += '<img  src=" ' + data.user.profileImage + ' " id="img-user-modal"  alt="Card image cap" >';
                                            html += ' <span class="card-title ">';
                                                html += '<a href="' + '/user/' + data.user.fullname + '" class="nameOf-modal">';
                                                    html += data.user.fullname;
                                                html += '</a>';
                                            html += '</span>';

                                            html += '<i class="fas fa-ellipsis-h action-icon" style="margin-top:10px" id="mod-' + data._id + '" data-id="' + data._id + '" class="threeDot" onclick="modelCard(this)">';
                                            html += '</i>';

                                        html += '</div>';
                                    
                                        // interact user
                                        html += '<div class="view-comment-modal">'
                                            html += '<ul class="list-comment" id="list-comment-id">'
                                                html += '<li class=" item-comment" id="item-comment">'
                                                    html += '<img  src=" ' + data.user.profileImage + ' " class="iconComment icon-comment-modal"  alt="Card image cap" >';
                                                    html += '<p  class="likePost">';

                                                        if (data.caption != "" && data.image != "") {
                                                            var cap = ""
                                                            for(var j = 0; j < 1; j ++){
                                                                cap +=" "+ data.caption.split(" ")[j] 
                                                            }
                                                                html += ' <p class="card-text caption-text1" id="tag-cap" >';
                                                                    html += data.user.fullname;
                                                                        html += '<span class="cap">'
                                                                            html +=  cap + '...'
                                                                        html += '</span>'
                                                                        html += '<span class="complete">'
                                                                            html += data.caption
                                                                        html += ' </span>'
                                                                        html += '<span class="more" onclick="toggleComment(this)">more'
                                                                        html += '</span>'
                                                                html += '</p>';

                                                        }
                                                    html += '</p>';
                                                html += '</li>'
                                                        
                  
                                                for (var c = 0; c < data.comments.length; c++) {
                                                        var commenter = data.comments[c];
                                                        html += '<li class="item-comment">'               
                                                            html += '<div class="user-chat">'
                                                                html += '<img  src=" ' + commenter.profileImage + ' " class="iconComment user-chat-modal"  alt="Card image cap" >';
                                                                html += '<a>'
                                                                    html += '' +  commenter.fullname
                                                                html += '</a>'

                                                                html += '<span>'
                                                                    html += ''+ commenter.content_comment 
                                                                html += '</span>'
                                                            html += '</div>'
                                                            
                                                            if(commenter.idComment != id){
                                                                html += '<div class="reply-chat">'
                                                                        html += '<ul>'
                                                                            html += '<li>'
                                                                                html += '1w'
                                                                            html += '</li>'  
                                                                            html += '<li>'
                                                                                html += '0 like'
                                                                            html += '</li>'
                                                                                html += '<li>'
                                                                                    html += '<a  onclick="displayName(' + "'" + commenter.fullname + "'"+ "," + "'" + commenter._id + "'"+ "," + "'" + commenter.idComment + "'" + "," + "'" + data._id + "'" +')">'
                                                                                        html += 'Reply'
                                                                                    html +='</a>'  
                                                                                html += '</li>'
                                                                        html += '</ul>'
                                                                html += '</div>'
                                                            }  

                                                            html += '<div class="view-reply">'
                                                                if(commenter.replies){
                                                                    html += '<span onclick="displayReplies(this,'+"'" + c + "'" +','+"'" + commenter.replies.length + "'" +')">'
                                                                        html += '&#9135&#9135&#9135 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View replies ('+commenter.replies.length+')'
                                                                    html += '</span>'
                                                                }
                                                                html += '<ul class="list-replies list-reply-'+c+'" id="list-reply-'+ c +'">'
                                                                    if(commenter.replies){
                                                                        for(var j = 0 ; j< commenter.replies.length;j++){
                                                                        var reply = commenter.replies[j]
                                                                        html += '<li class="user-reply">'
                                                                            html += '<img  src=" ' + reply.profileImage + ' " class="iconComment user-chat-modal"  alt="Card image cap" >';
                                                                            html += '<a>'
                                                                                html += '' + reply.fullname
                                                                            html += '</a>'
                                                                            html += '<a class="name_replied">'
                                                                                html +=  reply.name_comment
                                                                            html += '</a>'
                                                                            html += '<span>'                         
                                                                                html += ' '+ reply.content_reply
                                                                            html += '</span>'
                                                                        html += '</li>'  
                                                                    }
                                                                    }

                                                                html += '</ul>'
                                                            html += '</div>' 
                                                        html += '</li>'                                              
                                                }
                                            html += '</ul>'
                                        html += '</div>'
                                    
                                        // like, share
                                        var isLiked = false;
                                        for (var b = 0; b < data.likers.length; b++) {
                                            var liker = data.likers[b];
                                            if (liker._id == id) {                      // id user so sanh voi liker
                                                isLiked = true;
                                                break;
                                            }
                                        }
                                        html += '<div class="row modal-icon-newfeed iconCard" style="margin-top:18px">';
                                            html += '<button class="btnHeart ani" data-id="' + data._id + '" onclick="toggleLikeModal(this,' + "'"+ a +"'"+ ','+data.likers.length+','+"'"+data._id+"'"+');" >';
                                                html += '<svg  aria-label="Like" fill="#262626" height="25" viewBox="0 0 48 48" width="25">';
                                                if (isLiked) {
                                                    html += '<path id="heart-modal-' + a + '" fill="#ed4956"  d="M 34.6 3.1 c -4.5 0 -7.9 1.8 -10.6 5.6 c -2.7 -3.7 -6.1 -5.5 -10.6 -5.5 C 6 3.1 0 9.6 0 17.6 c 0 7.3 5.4 12 10.6 16.5 c 0.6 0.5 1.3 1.1 1.9 1.7 l 2.3 2 c 4.4 3.9 6.6 5.9 7.6 6.5 c 0.5 0.3 1.1 0.5 1.6 0.5 s 1.1 -0.2 1.6 -0.5 c 1 -0.6 2.8 -2.2 7.8 -6.8 l 2 -1.8 c 0.7 -0.6 1.3 -1.2 2 -1.7 C 42.7 29.6 48 25 48 17.6 c 0 -8 -6 -14.5 -13.4 -14.5 Z">';
                                                    html += '</path>';
                                                }
                                                else {
                                                    html += '<path id="heart-modal-' + a + '" fill="#262626"  d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">';
                                                    html += '</path>';
                                                }
                                                html += '</svg>';
                                            html += '</button>'
                                            
                                            html += '<button data-id="'+data._id+'" onclick="modalComment(this)" >'
                                                html += ' <svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">';
                                                    html += '<path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd">';
                                                    html += '</path>';
                                                html += '</svg>';
                                            html += '</button>';

                                            html += '<button >';
                                                html += '<svg aria-label="Share Post" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">';
                                                    html += '<path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">';
                                                    html += '</path>';
                                                html += '</svg>';
                                            html += '</button>';

                                            html += '<button class="savePost">';
                                                html += '<svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">';
                                                    html += '<path class="savePo" d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">';
                                                    html += '</path>';
                                                html += '</svg>';
                                            html += '</button>';
                                        html += '</div>';
                                        
                                        html += '<div class="view-like" style="margin-left:0.75rem">'
                                            html += '<small id="like-modal-' + data._id + '" data-id="' + data.likers.length + '" style="font-weight:600">'

                                            if (data.likers.length == "" || data.likers.length == 0) {
                                                html += '0 like</small>'
                                            } else if (data.likers.length == 1) {
                                                html += data.likers.length
                                                html += ' like</small>'
                                            }
                                            else {
                                                html += data.likers.length
                                                html += ' likes</small>'
                                            }
                                        html += '</div>'

                                        html += ' <div class="container textChat">';
                                            html += '<div class="comment">';
                                                html += ' <div class="commenter">';
                                                    html += '<img  src=" ' + user.profileImage + ' " class="iconComment icon-comment-modal"  alt="Card image cap" >';
                                                html += '</div>';

                                                html += '<form id="post-comment-new" onsubmit="return doPostCommentModal(this)">'
                                                    html += '<div class="comment-text-area">';
                                                        html += '<input type="hidden" name="_id" value="'+data._id+'">'
                                                        html += '<input type="hidden" id="nameReply-'+data._id+'" name="nameReply" value="'+data._id+'">'
                                                        html += '<input type="hidden" id="idComment-'+data._id+'" name="id_comment" value="">'
                                                        html += '<input type="hidden" id="idUserComment-'+data._id+'" name="id_user_comment" value="">'
                                                        html += '<textarea class="textinput  textComment text-comment-modal" id="com-'+data._id+'" name="commentPost" placeholder="Add comment ...">'
                                                        html += '</textarea>';
                                                        html += '<button class="btn  btnComment btnOpacity btn-opa" type="submit">Post';
                                                        html += '</button>';
                                                    html += '</div>';
                                                html += '</form>'

                                            html += '</div>';
                                        html += '</div>';

                                    html+= '</div>'
                                html+= ' </div>'
                                html+= '</div>'
                                html+= ' </div>'
                               
                    }
                    $("#display-modal-comment").html(html)
                    $(".modal-com-new").css('display','block')
                    $('.sticky-top').css('z-index','0')
                    $('.card').css('z-index','-1')
                    $('.card.card-comment').css('z-index','1')
                    $('body').addClass('stop-scrolling')
                    }
                
                
                returnNewfeed();
                inputComment();
                dropSave();
                slideImageModal();
                },
                error: function (responseText) {
                    alert(responseText)
                }
            });



         
         
           
        }
        
        // display name in comment reply
        function displayName(name,id_comment,id_user_comment,id_post){
            $('.text-comment-modal').text('@'+name+' ') 
            $('#idComment-'+id_post).val(id_comment)
            $('#nameReply-'+id_post).val('@'+name)
            $('#idUserComment-'+id_post).val(id_user_comment)
        }
        // hide name in comment reply
        function hideName(id_post){
            $('.text-comment-modal').text('') 
            $('#idComment-'+id_post).val('')
            $('#nameReply-'+id_post).val('')
            $('#idUserComment-'+id_post).val('')
        }

        // toggle list reply
        function displayReplies(self,id_reply,length){
            if($('.list-reply-'+id_reply).hasClass('display')){
                $(self).html('&#9135&#9135&#9135 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Views replies('+length+')')
                $('.list-reply-'+id_reply).css('display','none')
                $('.list-reply-'+id_reply).removeClass('display')
            }else{
                $(self).html('&#9135&#9135&#9135 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hide replies')
                $('.list-reply-'+id_reply).css('display','block')
                $('.list-reply-'+id_reply).addClass('display')
            }
            
        }

        // toggle opacity button post
        function inputComment() {
            // handle textarea card
            const messageEle = document.getElementsByClassName('textComment');
            const btnOpa = document.getElementsByClassName("btn-opa")


            for (var i = 0; i < messageEle.length; i++) {
                (function (index) {

                    messageEle[index].addEventListener("input", function (e) {
                        const target = e.target;

                        // Count the current number of characters
                        const currentLength = target.value.length;

                        for (var j = 0; j < btnOpa.length; ++j) {
                            if (currentLength > 0) {
                                btnOpa[index].style.opacity = "1";
                            } else {
                                btnOpa[index].style.opacity = "0.3";
                            }

                        }


                    })

                })(i);



            }

        }

        // toggle opacity button post
        function inputPost() {
            cmText = document.getElementById("cmText")
            ptNew = document.getElementById("ptNew")

            cmText.addEventListener("input", function (e) {
                const target = e.target;

                // Count the current number of characters
                const currentLength = target.value.length;


                if (currentLength > 0) {
                    ptNew.style.opacity = "1";
                } else {
                    ptNew.style.opacity = "0.3";
                }
            })
        }

        // toggle comment
        function toggleComment(self){
            var dot = $('.cap').text()
            if($('.completed').hasClass('completed')){
                $('.completed').toggleClass('complete')    
                $('.complete').removeClass('completed') 
                $('.cap').css('display','')
                $(self).text('more')  
           
            }else{
                $('.complete').toggleClass('completed')    
                $('.completed').removeClass('complete') 
                $(self).text('less')    
                $('.cap').css('display','none')     
            }
           
         
          
        }

        // fill color icon heart card and icon save
        function toggleLike(self, index,numLike) {
            var _id = $(self).attr("data-id")
            var heartID = "#heart-" + index
            var color = $(heartID)
            var c = color.attr("fill")

            $.ajax({
                method: "POST",
                url: "/toggleLike",
                data: {
                    _id: _id
                },
                cache: false,
                success: function (responseText) {
                    countHeart = responseText.count
                    if (responseText.status == "success") {
                        if (c == "#262626") {
                            $(self).toggleClass("anime")
                            $(self).toggleClass("ani")
                            showNewsfeed()
                        }

                    }
                    if (responseText.status == "unliked") {
                        if (c == "#ed4956") {
                            $(self).toggleClass("ani")
                            if ($(self).hasClass("anime")) {
                                $(self).toggleClass("anime")
                            } else {
                                $(self).toggleClass("anime")
                            }
                            showNewsfeed()
                        }
                    }
                },
                error: function (responseText) {
                    alert(responseText)
                }
            });

        }

        // toggle like modal
        function toggleLikeModal(self, index,num,id_post_current) {
            var _id = $(self).attr("data-id")
            var heartID = "#heart-modal-" + index
            var color = $(heartID)
            var c = color.attr("fill")
            $.ajax({
                method: "POST",
                url: "/toggleLike",
                data: {
                    _id: _id
                },
                cache: false,
                success: function (responseText) {
                    if (responseText.status == "success") {
                        if (c == "#262626") {
                            $(self).toggleClass("anime")
                            $(self).toggleClass("ani")
                            color.attr("d", "M 34.6 3.1 c -4.5 0 -7.9 1.8 -10.6 5.6 c -2.7 -3.7 -6.1 -5.5 -10.6 -5.5 C 6 3.1 0 9.6 0 17.6 c 0 7.3 5.4 12 10.6 16.5 c 0.6 0.5 1.3 1.1 1.9 1.7 l 2.3 2 c 4.4 3.9 6.6 5.9 7.6 6.5 c 0.5 0.3 1.1 0.5 1.6 0.5 s 1.1 -0.2 1.6 -0.5 c 1 -0.6 2.8 -2.2 7.8 -6.8 l 2 -1.8 c 0.7 -0.6 1.3 -1.2 2 -1.7 C 42.7 29.6 48 25 48 17.6 c 0 -8 -6 -14.5 -13.4 -14.5 Z")
                            color.attr("fill", "#ed4956")
                            modalComment(self,id_post_current)
                        }

                    }
                    if (responseText.status == "unliked") {
                        if (c == "#ed4956") {
                            $(self).toggleClass("ani")
                            if ($(self).hasClass("anime")) {
                                $(self).toggleClass("anime")
                            } else {
                                $(self).toggleClass("anime")
                            }
                            color.attr("d", "M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z")
                            color.attr("fill", "#262626")
                            modalComment(self,id_post_current)
                        }
                    }
                },
                error: function (responseText) {
                    alert(responseText)
                }
            });

        }

        // Save post
        function dropSave() {
            // fill color icon save card
            var savePost = document.getElementsByClassName("savePost");
            var savePo = document.getElementsByClassName("savePo");
            for (var i = 0; i < savePost.length; i++) {
                (function (index) {
                    savePost[index].addEventListener("click", function (e) {
                        var color = savePo[index].getAttribute("d")
                        var check = "M 43.5 48 c -0.4 0 -0.8 -0.2 -1.1 -0.4 L 24 28.9 L 5.6 47.6 c -0.4 0.4 -1.1 0.6 -1.6 0.3 c -0.6 -0.2 -1 -0.8 -1 -1.4 v -45 C 3 0.7 3.7 0 4.5 0 h 39 c 0.8 0 1.5 0.7 1.5 1.5 v 45 c 0 0.6 -0.4 1.2 -0.9 1.4 c -0.2 0.1 -0.4 0.1 -0.6 0.1 Z"
                        if (color == check) {
                            savePo[index].setAttribute("d", "M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z")
                        } else {
                            savePo[index].setAttribute("d", "M 43.5 48 c -0.4 0 -0.8 -0.2 -1.1 -0.4 L 24 28.9 L 5.6 47.6 c -0.4 0.4 -1.1 0.6 -1.6 0.3 c -0.6 -0.2 -1 -0.8 -1 -1.4 v -45 C 3 0.7 3.7 0 4.5 0 h 39 c 0.8 0 1.5 0.7 1.5 1.5 v 45 c 0 0.6 -0.4 1.2 -0.9 1.4 c -0.2 0.1 -0.4 0.1 -0.6 0.1 Z")
                        }

                    })
                })(i);
            }
        }

        // silde image Card
        function slideImage(direction, size, id) {
            var container = document.getElementById('list-image-newfeed-' + id);
            var x;
            var x1;
            var temp;
            scrollCompleted = 0;
            var slideVar = setInterval(function () {
                if (size > 1) {
                    if (direction == "right") {
                        container.scrollLeft += 59;
                        x = container.scrollLeft
                        if (x == (size * 590) - 590) {
                            $('#next-img-' + id).css("opacity", "0")
                        } else {
                            $('#prev-img-' + id).css("opacity", "0.8")
                            $('#next-img-' + id).css("opacity", "0.8")
                        }
                    }
                    if (direction == "left") {
                        container.scrollLeft -= 59;
                        x1 = container.scrollLeft
                        if (x1 == 0) {
                            $('#prev-img-' + id).css("opacity", "0")
                        } else {
                            $('#prev-img-' + id).css("opacity", "0.8")
                            $('#next-img-' + id).css("opacity", "0.8")
                        }

                    }
                    scrollCompleted += 10;
                    if (scrollCompleted >= 100) {
                        window.clearInterval(slideVar);
                    }
                }

            }, 45);
        
        }

         // silde image card modal
         function slideImageModal(direction, size, id) {
            var container = document.getElementById('list-modal-' + id);
            var x;
            var x1;
            var temp;
            scrollCompleted = 0;
            var slideVar = setInterval(function () {
                if (size > 1) {
                    if (direction == "right") {
                        container.scrollLeft += 58;
                        x = container.scrollLeft
                        console.log("x\n"+x)
                        if (x == (size * 580) - 580) {
                            $('#next-img-modal-' + id).css("opacity", "0")
                        } else {
                            $('#prev-img-modal-' + id).css("opacity", "0.8")
                            $('#next-img-modal-' + id).css("opacity", "0.8")
                        }
                    }
                    if (direction == "left") {
                        container.scrollLeft -= 58;
                        x1 = container.scrollLeft
                        if (x1 == 0) {
                            $('#prev-img-modal-' + id).css("opacity", "0")
                        } else {
                            $('#prev-img-modal-' + id).css("opacity", "0.8")
                            $('#next-img-modal-' + id).css("opacity", "0.8")
                        }

                    }
                    scrollCompleted += 10;
                    if (scrollCompleted >= 100) {
                        window.clearInterval(slideVar);
                    }
                }

            }, 45);
        
        }

        
        // scroll by button
        function slide(direction,size,id){
            var container = document.getElementById('list-'+id);
            var x ;
            var x1;
            var temp;
            scrollCompleted = 0;
            var temp = size
            size = (size / 3).toFixed(1)
            temp = temp % 3

            var slideVar = setInterval(function(){
            if(size == 2){
                if (direction == "right") {
                    container.scrollLeft += 58;
                    x = container.scrollLeft
                    console.log("x : \n"+x)
                    if (x == (size * 580) - 580) {
                        $('#next-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
                if (direction == "left") {
                    container.scrollLeft -= 58;
                    x1 = container.scrollLeft
                    if (x1 == 0) {
                        $('#prev-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
               
            }else if(size == 3){
                if (direction == "right") {
                    container.scrollLeft += 58;
                    x = container.scrollLeft
                    console.log("x : \n"+x)
                    if (x == (size * 580) - 584) {
                        $('#next-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
                if (direction == "left") {
                    container.scrollLeft -= 58;
                    x1 = container.scrollLeft
                    if (x1 == 0) {
                        $('#prev-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
            }
            else if( size == 1.3) {
                if (direction == "right") {
                    container.scrollLeft += 20;
                    x = container.scrollLeft
                    console.log("x : \n"+x)
                    if (x == 196) {
                        $('#next-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
                if (direction == "left") {
                    container.scrollLeft -= 20;
                    x1 = container.scrollLeft
                    if (x1 == 0) {
                        $('#prev-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
            }
            else if( size == 1.7) {
                if (direction == "right") {
                    container.scrollLeft += 20;
                    x = container.scrollLeft
                    console.log("x : \n"+x)
                    if (x == 200) {
                        $('#next-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
                if (direction == "left") {
                    container.scrollLeft -= 20;
                    x1 = container.scrollLeft
                    if (x1 == 0) {
                        $('#prev-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
            }
            else if( size == 2.3) {
                if (direction == "right") {
                    container.scrollLeft += 20;
                    x = container.scrollLeft
                    console.log("x : \n"+x)
                    if (x == 772) {
                        $('#next-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
                if (direction == "left") {
                    container.scrollLeft -= 20;
                    x1 = container.scrollLeft
                    if (x1 == 0) {
                        $('#prev-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
            }
            else if( size == 2.7) {
                if (direction == "right") {
                    container.scrollLeft += 20;
                    x = container.scrollLeft
                    console.log("x : \n"+x)
                    if (x == 964) {
                        $('#next-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
                if (direction == "left") {
                    container.scrollLeft -= 20;
                    x1 = container.scrollLeft
                    if (x1 == 0) {
                        $('#prev-' + id).css("opacity", "0")
                    } else {
                        $('#prev-' + id).css("opacity", "0.2")
                        $('#next-' + id).css("opacity", "0.2")
                    }
                }
            }
            else{
                $('#next-' + id).css("opacity", "0")
            }
            scrollCompleted += 10;
                if (scrollCompleted >= 100) {
                    window.clearInterval(slideVar);
            }
            }, 45);
            }

            
</script>
<script src="/js/iconModal.js"></script>
<script src="/js/filePro.js"></script>
<script src="/js/sendMessage.js"></script>

</html>