    <!-- modal Card  -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" id="modCon">
            <ul class="list-group listDot">
                <li style="color:red; font-weight:500">Unfollow</li>
                <hr class="hrList">
                <li>Go to post</li>
                <hr class="hrList">
                <li>Edit</li>
                <hr class="hrList">
                <li>Delete</li>
                <hr class="hrList">
                <li class="cancelList">Cancel</li>
            </ul>
        </div>

    </div>

    
</body>

<script src="/js/iconModal.js"></script>
<script src="/js/filePro.js"></script>
</html>