<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
    <div class="alert alert-warning alert-dismissible" style=" width: 80%;border-radius: 50px;margin-left: 3.5rem;resize: vertical;">
          <%= error.msg %>
        <a href="#" class="close"  data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% }); %> <% } %> <% if(success_msg != ''){ %>
        <div class="alert alert-success alert-dismissible" style=" width: 80%;border-radius: 25px;margin-left: 3.5rem;resize: vertical;">
           <%= success_msg %>
            <a href="#" class="close"  data-dismiss="alert" aria-label="close">&times;</a>
          </div>
    <% } %> <% if(error_msg != ''){ %>
        <div class="alert alert-danger alert-dismissible" style=" width: 80%;border-radius: 50px;margin-left: 3.5rem;resize: vertical;">
         <%= error_msg %>
            <a href="#" class="close"  data-dismiss="alert" aria-label="close">&times;</a>
          </div>
    <% } %> <% if(error != ''){ %>
        <div class="alert alert-danger alert-dismissible" style=" width: 80%;border-radius: 50px;margin-left: 3.5rem;resize: vertical;">
             <%= error %>
            <a href="#" class="close"  data-dismiss="alert" aria-label="close">&times;</a>
          </div>
    <% } %>
  