<%- include ("../shares/header") %>
    <!-- List user not follow -->
    
    <div class="container formEdit">
        <div class="editImg">
            <img class="" width="100" height="100" src="/img/kim.png" alt="Card image cap"
            style="border-radius: 50% 50%;">
            <br>
            <span class=" " ><a  href="#" >leejoon</a></span>
        </div>
    
      <div class="coForm">
        <form>
            <div class="form-row">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="" placeholder="Email">
            </div>
         <div class=" text-center" >
            <button style="margin-bottom: 1rem;" type="submit" class="btn btn-primary ">Update</button>
         </div>
            
        </form>
      </div>
    
             
          
      
    </div>
    
<%- include ("../shares/footer") %>