<%- include ("../shares/header") %>
  <!-- List user not follow -->

  <div class="container formEdit">
    <div class="row">
      <div class="col-3 list-group">
        <a href="#" class="list-group-item list-group-item-action ">
          Edit profile
        </a>
        <a href="/myProfile/editProfile/changePassword" class="list-group-item list-group-item-action ">
          Change Password
        </a>

      </div>

      <div class="col-9" style="border-left:1px solid #DBDBDB; margin-left: -14.5px;">

        <div class="coForm">

          <form class=" form-infor">
            <div class="form-group row in-img" >
                  <label class="col-sm-2 col-form-label">
                    <img class="img-edit" width="50" height="50" src="/img/kim.png" alt="Card image cap"
                    style="border-radius: 50% 50%;">
                  </label>
                  
                <div class="col-sm-10">
                  <ul id="img-option">
                    <li id="name-edit">Leejoon</li>
                    <li id="change-Profile">Change Profile Photo</li>
                  </ul>
                </div>
          
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input autocomplete="off" type="text" class="form-control" id="" placeholder="Name" value="">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input autocomplete="off" type="text" class="form-control" id="" placeholder="Username" value="">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Bio</label>
              <div class="col-sm-10">
                <textarea type="text" name="" id="" class="form-control"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-primary" id="save"><p id="save1"> Save</p> </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <%- include ("../shares/footer") %>