<%- include ("../shares/header") %>

<head>
    <link rel="stylesheet" href="/css/profile.css">
    <style>
        .coverA1{
            margin-top: -5rem;
            transform: scale(0.8,0.7);
            border: 1px solid red;
        }
    </style>
</head>

<div class="rootCover">
    <div class="coverA1">
        <div class="containerA1">

            <div class="profile">
    
                <div class="profile-image">
    
                    <img class="imgPzo" src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
    
                </div>
    
                <div class="profile-user-settings">
    
                    <h1 class="profile-user-name">janedoe_</h1>
    
                    <button class="btn profile-edit-btn">Edit Profile</button>
    
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
    
                </div>
    
                <div class="profile-stats">
    
                    <ul>
                        <li><span class="profile-stat-count">164</span> posts</li>
                        <li><span class="profile-stat-count">188</span> followers</li>
                        <li><span class="profile-stat-count">206</span> following</li>
                    </ul>
    
                </div>
    
                <div class="profile-bio">
    
                    <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>
    
                </div>
    
            </div>
            <!-- End of profile section -->
    
        </div>
    </div>
   
	<!-- End of container -->






	<!-- End of container -->
</div>
	




<%- include ("../shares/footer") %>

