.container.formEdit{
    width: 75%;

    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin-top:1rem;
}

.col-3 .list-group-item {
    font-size: 18px;
    color: #262626;
    border-radius: 0;
    border-left:none ;
    border-top:none ;
    border-right: none;
}

.col-3 .list-group-item:focus{
    font-weight: bold;
    border-left:2px solid #333 ;
}   

.edit-list .list-group-item:not(:last-child){
    border-bottom: 1px solid #DBDBDB !important;
}
.edit-list .list-group-item:last-child{
    border-bottom: none;
}

.coForm{
    margin-top: 25px;
}

.coForm .form-infor{
    position: relative;
    top: 0;
    left: 5rem;
}

.form-group{
    position: relative;
    top: 0;
    left: 0;
}

.in-img{
    margin-top: 25px
}

#img-option{
    margin-left: -1.5rem;
    margin-top:5px ;
}

#change-Profile{
    font-size: 13px;
    font-weight: bold;
    color: #0095F6;
}

.form-infor .form-group:first-child{
    margin-bottom: -5px;
}

.form-infor .form-group label{
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}

.form-infor .form-group input{
    margin-left: 10px;
    height: 35px;
    font-size: 15px;
    margin-top: 8px;
    width: 60%;
}

.form-infor .form-group textarea{
    margin-left: 10px;
    font-size: 15px;
    margin-top: 8px;
    width: 60%;
}

#file{
    border: 1px solid red;
}



#save{

   margin-bottom: 1rem;
   border-radius: 50px ;
   height: 35px;
}

#save1{
    position: relative;
    top: -8px;
}


.alert-pass .alert{
    margin-left: 10px;
    font-size: 15px;
    margin-top: 8px;
}

.err{
    position: relative;
    top: 10px;
}

.btn-err{
    margin-top: 5px;
}

.btn-err:focus{
    outline: none;
    border: none;
}


/* responsive */

@media screen and (max-width: 375px)  {
    .container.formEdit{
        margin-left: 10px !important;

    }
}

@media screen and (max-width: 576px)  {
    .container.formEdit{
        width: 100%;
        margin-left: 25px !important;
    }

    .form-infor .form-group label{
        text-align: left;
    }
    .col-3 .list-group-item{
        font-size: 15px;
        padding: 15px 5px;
    }
    .form-infor .form-group {
        display: flex;
        flex-wrap: nowrap;
  
    }
    #img-option{
        margin-left: -3rem !important;
    }
    .form-infor .form-group .col-sm-10 input.form-control{
        margin-left: -25px !important;
        min-width: 100%;
    }
    .form-infor .form-group .col-sm-10 textarea.form-control {
        margin-left: -25px !important;
        min-width: 100%;
    }
    
    #save{
        margin-top: 1rem;
    }

    .btn-err{
        position: absolute;
        top: -10px;
        left: 2.75rem;
    }
}


@media screen and (max-width: 768px)  {
    .coForm .form-infor{
        position: relative;
        top: 0;
        left: 1rem;
    }
    .form-infor .form-group .col-sm-10 input.form-control {
        margin-left: 25px;
        width: 80%;
    }
    #img-option{
        margin-left: -0.75rem;
    }
    .form-infor .form-group .col-sm-10 textarea.form-control{
        margin-left: 25px;
        width: 80%;
    }
    
    .btn-err{
        margin-top: 5px;
    }
}



