@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
#navColor{
     background-color: #FFFFFF !important; 
     border-bottom: 1.5px solid #DBDBDB;
     width: 100%;
     min-width: 100%; 
    height: 60px;

}


.img-brand{
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: -15px;
}
#searchNav{
    float: none;
}
#searchNav input{
    margin-top: -10px;
    text-align: center;
    background-color: #FAFAFA;
    width: 100%;
    height: 30px;
    font-size: 15px;
}
.topnav-right {
    margin-right: 11rem;
    float: right;
    margin-bottom: 0.95rem;
}
.topnav-right a + a {
    padding-left: 1em;
}


.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;

}
.mainLoginInput:focus{
    outline: none;
    box-shadow: none;
    border:1px solid #E7E9EC;
}

/* change color icon */
path {
    cursor: pointer;
  }
.selected {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    stroke-linejoin: round;
}


/* icon profile */
#iconProfile{
    cursor: pointer;
}

/* modal-user */
.model-user{
    display: none;
    position: absolute;
    top: 100%;
    left: 35%;
    /* padding-top: 200px; */
    width: 100%;
    height: 100%;
}

.cover-body{
    z-index: 1;
}

.content-user{
    z-index: 1;
    background-color: #fefefe;
    /* margin: auto; */
    padding: 10px 5px 10px 5px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
    border-radius: 8px 8px;
    width: 400px;
}

.content-user ul {
    margin-top: -0.5rem;
    padding: 0px 10px;
}

.content-user ul li{
    display: flex;
    
}

.content-user ul li:not(:first-child){
    padding-top: 15px;
}

.icon-close{
    margin-top: -3px;
    margin-left: auto;
    font-size: 13px;
    cursor: pointer;
}

.content-user ul li img{
    border-radius: 50% 50%;
}

.infor-search{
    padding: 0px 8px;
    margin-top: -5px;
    height: 50px;
}

.infor-search a{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.infor-search p{
    margin-top: -5px;
    font-size: 14px;
}

.search-sta{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.search-sta p:first-child{
    font-size: 16px;
    font-weight: 500;
}

.search-sta p:last-child{
    font-size: 15px;
    font-weight: 500;
    color: #0095F6;
    margin-left: auto;
}
    

/* responsive */
@media screen and (max-width: 1200px) {
    .topnav-right {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 992px)  {
    .topnav-right {
        margin-right: 2rem;
    }
    .navbar-brand.ml-3{
        width: 150px;
    }

    .model-user{
        left: 25%;
    }
}
@media screen and (max-width: 768px)  {

    .topnav-right {
        margin-right: 1rem;
    }
    .navbar-brand.ml-3{
        width: 150px;
    }
    .topnav-right a + a {
        padding-left: 0.75em;
    }
}
@media screen and (max-width: 645px)  {
    .topnav-right {
        margin-right: 0.5rem;
    }
    .navbar-brand.ml-3{
        width: 100px;
    }
    .topnav-right a + a {
        padding-left: 0.5em;
    }
    #searchNav input{
        width: 75%;
    }
    .model-user{
        left: 20%;
    }
}
@media screen and (max-width: 574px)  {
    #navColor{
     border: 1px solid green;
    }

    .topnav-right {
        margin-right: 0.5rem;
    }
    .topnav-right #iconProfile{
        margin-right: -0.5rem;
   
    }
    .navbar-brand.ml-3{
        width: 100px;
        margin-left: -0.5rem !important;
    }
    .topnav-right a + a {
        padding-left: 0.65em;
    }
    #searchNav{
        margin-left: -10px;
    }
    .model-user{
        left: 10%;
    }
}
@media screen and (max-width: 500px)  {
    #searchNav{
        visibility: hidden;
    }
    .topnav-right {
        position:absolute;
        top: 20%;
        right: 0;
    }
}

@media screen and (max-width: 320px)  {
    html, body {
        min-width: 350px;
        height:100%;
    }
}