/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */


img.imaProfile {
    display: block;
}

.container.Pro {
    max-width: 50rem;
    margin: 1rem auto;
    padding: 0 0.25rem;
   
}


.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* inforFile Section */



.inforFile::after {
    content: "";
    display: block;
    clear: both;
}

.inforFile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;

}

.inforFile-image img {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

.inforFile-user-settings,
.inforFile-stats,
.inforFile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.inforFile-user-settings {
    margin-top: 1rem !important;
    margin-left: -3rem !important;

}

.inforFile-user-name {
    display: inline-block;
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
}

.inforFile-edit-btn {
    font-size: 14px;
    line-height: 1.8;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 2px 10px;
    margin:-0.75rem 0 0 0.5rem
    
}


.inforFile-edit-btn:hover{
    cursor: pointer;
}


.inforFile-edit-btn a{
    text-decoration: none;
    color: inherit;
}

.inforFile-stats {
    margin-left: -3rem !important;

}

.inforFile-stats li {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
}

.inforFile-stats li{
    margin-left: -2rem;
}

.inforFile-stats li:not(:first-child){
    padding-left:3rem;
}


.inforFile-stats li:last-of-type {
    margin-right: 0;
}

.inforFile-bio {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: -3rem !important;
}

.inforFile-real-name,
.inforFile-stat-count,
.inforFile-edit-btn {
    font-weight: 600;
}

/* test */
.feature{
    margin-top: -10px;
    text-align: center;
}
.feature a+a{
    padding-left: 3em;
}

.feature a span{
    font-size: 15px;
    color: #262626;
}

.feature a:hover{
    text-decoration: none;
}

/* Gallery Section */

  .container.gallery{
      width: 100%;
      margin: 0 auto;
  } 

  .gallery-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

.gallery-content img{
    width: 300px;
    height:300px;
}

.gallery-content video{
    width: 300px;
    height:300px;
}

.gallery-img {
    position: relative;
    top: 0;
    left: 0;
    color: #fff;
    cursor: pointer;

    margin: 5px 15px;
}

.gallery-img:hover .gallery-item-info,
.gallery-img:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
    color: #fff;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

/* Loader */
/* 
.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
} */

/* Media Query */

@media screen and (max-width:411px){
    .gallery-content img{
        margin-left: 1.5rem !important;
    }
}

@media screen and (max-width: 640px) {
    #zop{
        display: none;
    }

    .inforFile {
        display: flex;
        flex-wrap: wrap;
    }

    .inforFile::after {
        display: none;
    }

   

    .inforFile-image img {
        width: 100px;
        height: 100px;
    }

    .inforFile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.25rem !important; 
        margin-left: -2rem !important;
    }

    .inforFile-user-name {
        font-size: 2rem;

    }

    .inforFile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .inforFile-edit-btn {
        margin-left: 0;
    }

    .inforFile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
        margin-left: 0.75rem !important;

        border-bottom: 0.1rem solid #dadada;
    }

    .inforFile-edit-btn,
    .inforFile-bio,
    .inforFile-stats {
        flex-basis: 100%;
    }

    .inforFile-stats {
        order: 1;
    }

    .inforFile-stats ul {
        display: flex;
        text-align: center;
        padding:1rem;
        margin: 0.5rem -1.5rem;
       
    }

    .inforFile-stats li {
        font-size: 1.4rem;
        flex: 1;
     
    }

    .inforFile-stats li {
        padding-left: 7rem;
    }

    .inforFile-stat-count {
        display: block;
    }
/* option setting */


    .feature{
        margin-top: -1rem;
        padding-bottom: 1rem;
        margin-left: 2rem;
        
        border-top: 0.1rem solid #dadada;
    }

    .feature a svg{
        margin-top: 1rem;
        width: 30px;
        height: 30px;
    }
    .feature a span{
        display: none;
    }
    .feature a+a{
        padding-left: 6em;
    }

    
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}



