.container.sendMes{
    width: 75%;
    min-width: 75%;

    background-color: #FFFFFF;

    margin: 20px auto 10px auto;
}

.table{
    width: 90%;
    max-width: 90%;
    height: 600px;

    background-color: #FFFFFF;
    margin: 20px auto;
    
}