
:root {
    --white: #fafafa;
    --grey: #717171;
    --medium-grey: #dbdbdb;
    --strong-grey: #545454;
    --header-color: #fff;
    --text-color:#262626;
    
}

main {
  margin-left: 8rem;
  margin-top: 1rem;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  height: 83.25vh;
  width: 70vw;
  border: 1px solid #dbdbdb;
  background-color: #FFFFFF;
 
 
}
.preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 40%;
  border-right: 1px solid var(--medium-grey);
}
.preview>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  width: 100%;

}

.chats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow:hidden;
  height: 80vh;
  width: 60%;

}

.frame-chat{
  position: relative;
  top: 0;
  left: 0;
  height: 66vh;
  width: 100%;
  overflow-y: scroll;
}

.frame-chat::-webkit-scrollbar {
  display: none;
}

.image-message{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-message svg{
  margin-left: 1rem;
}

.image-message p{
    font-size: 25px;
    font-weight: 300;
}

.chat-banner {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--medium-grey);
  
    z-index: 0;
    background-color: #FFFFFF;

}

.chat-banner>div {
  padding: 10px;
}

#user-name {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1em;
  border-bottom: 1px solid var(--medium-grey);
}

#user-name i {
  font-size: 1em;
  padding-left: 5px;
}

.pic-div, .pic, .chat-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#pic {
    height: 50px ;
    width: 50px ;
    margin-left: 0.5em;
    border-radius: 50% ;
}

.chat-pic {
  height:20px;
  width: 20px;
}
.chat-username {
  padding: 10px;
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;

}

.user-following:hover{
  background-color: #FAFAFA;
}

.active-chat{
  background-color: #EFEFEF;
}

.chat-username>span {
  height: 50%;
  width: auto;
}
.name {
    cursor: pointer; 
    text-decoration: none; 
    color: #333;
}

.name:hover{
  text-decoration: none; 
  color: #333;
}

.msg {
  color:var(--grey);
  font-size: 13px;
}
/* sender */
.sender{
  display: flex; 
  flex-direction: row; 
  padding: 5px 5px;
}

.sender:first-child{
  margin-top: 1rem;
}

.sender .content-msg{
  display: flex;
  position: relative;
  padding-right: 1rem;
}

.sender .content-msg .text-msg{
  padding: 10px 8px;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid #dbdbdb;
  background-color:#FFFFFF ;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 180px;
  height: auto;
}

.sender .edit-msg{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.sender .dot-msg-brown{
  display: none;  
}

.sender .dot-msg-black{
   display: none;
   cursor: pointer;
}

.sender .heart-msg {
  position: absolute;
  bottom: -12px;
  left: 0;
  padding: 1px;
  text-align: center;
  background-color: #EFEFEF;
  border: 2px solid #fff;
  border-radius: 50% 50%;
  font-size: 13px;
  height: 25px;
  width: 25px;
  visibility: hidden;
}

.sender .heart-msg span:first-child{
  position: relative;
  top: -3px;
  left: 6px;
  font-size: 12px;
  font-weight: bold;
}

.sender .heart-msg span:nth-last-child(4n+1){
position: relative;
top: 4px;
left: 2px;

font-size: 8px;
}

/* modal eidt message sender */
.sender .modal-edit-msg{
  position: absolute;
  top:-2.25rem;
  left: -0.8rem;
  display: flex;
  visibility: hidden;
  padding: 5px 7px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  width: 50px;
  height: 35px;
  background-color: #000000;
  border-radius: 8px;
}

.sender .modal-edit-msg .msg-like {
width: 35px;
height: 18px;
position: relative;
top: 1.2rem;
left: -1.5rem;
}

.sender .modal-edit-msg .msg-unlike {
  width: 26px;
  height: 18px;
  position: relative;
  top: 1.25rem;
  right:1.8rem;
}

.sender .modal-edit-msg .unlike-msg{
  margin-left: -3px;
}

.sender .modal-edit-msg p{
cursor: pointer;
}

/* image */
.sender .attach-img{
  display: flex;
  flex-direction: row-reverse;
}

.sender .edit-img{
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
}

.sender .img-msg .inner-width{
  width: 100%;
  max-width: 250px;
}

.sender .img-msg .gallery{
  display: flex;
  margin: 0 -0.5rem 0 -1rem !important;
 
}

.sender .img-msg .image{
  display: block !important;
  flex: 10%;
  overflow: hidden;
}

.sender .img-msg .image img{
  width: 100px;
  height: 100px;
  margin: 5px 0;
}

.sender .dot-img-brown{
  display: none;
  position: absolute;
  top: 45%;
  right: -10px;
}

.sender .dot-img-black{
  display: none;
  position: absolute;
  top: 45%;
  right: -10px;
  cursor: pointer;
}

.sender .img-msg{
  position: relative;
  bottom: 0;
  right: 0;
}

.sender .heart-img {
  position: absolute;
  bottom: 0px;
  left: -5px;
  padding: 1px;
  text-align: center;
  background-color: #EFEFEF;
  border: 2px solid #fff;
  border-radius: 50% 50%;
  font-size: 13px;
  height: 25px;
  width: 25px;
  visibility: hidden;
}

.sender .heart-img span:first-child{
  position: relative;
  top: -3px;
  left: 6px;
  font-size: 12px;
  font-weight: bold;
}

.sender .heart-img span:nth-last-child(4n+1){
  position: relative;
  top: 4px;
  left: 2px;

  font-size: 8px;
}
/* modal eidt image */
.sender .modal-edit-img{
    position: absolute;
    top: 0.25rem;
    left: -1.2rem;
    display: flex;
    visibility: hidden;
    padding: 5px 7px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    width: 50px;
    height: 35px;
    background-color: #000000;
    border-radius: 8px;
    z-index: 1;
}

.sender .modal-edit-img .img-like {
  width: 35px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 1.4rem;
}

.sender .modal-edit-img .img-unlike {
  width: 26px;
  height: 18px;
  position: relative;
  top: 1.25rem;
  right: 1.6rem;
}

.sender .modal-edit-img .unlike-img{
  margin-left:-4px;
}

.sender .modal-edit-img p{
  cursor: pointer;
}

/* video */
.sender .attach-vid{
  display: flex;
}

.sender .edit-vid{
  position: relative;
  top: 0;
  right: 0;
  padding-right: 1rem;
}

.sender .video-msg iframe{
  border-radius: 12px 12px;
  width: 170px;
  height: 120px;
}

.sender .dot-vid-brown{
  display: none;
  position: absolute;
  top: 40%;
  right: -5px;
}

.sender .dot-vid-black{
  display: none;
  position: absolute;
  top: 40%;
  right: -5px;
  cursor: pointer;
}

.sender .video-msg{
  position:relative;
  bottom: 0;
  right: 0;
}

.sender .heart-vid {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 1px;
  text-align: center;
  background-color: #EFEFEF;
  border: 2px solid #fff;
  border-radius: 50% 50%;
  font-size: 13px;
  height: 25px;
  width: 25px;
  visibility: hidden;
}

.sender .heart-vid span:first-child{
  position: relative;
  top: -3px;
  left: 6px;
  font-size: 12px;
  font-weight: bold;
}

.sender .heart-vid span:nth-last-child(4n+1){
  position: relative;
  top: 4px;
  left: 2px;

  font-size: 8px;
}
/* modal eidt video */
.sender .modal-edit-vid{
  position: absolute;
  top: 5px;
  right: -1rem;
  display: flex;
  visibility: hidden;
  padding: 5px 7px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  width: 50px;
  height: 35px;
  background-color: #000000;
  border-radius: 8px;
}

.sender .modal-edit-vid .vid-like {
  width: 35px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 1.5rem;
}

.sender .modal-edit-vid .vid-unlike {
  width: 26px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 2rem;
}

.sender .modal-edit-vid .unlike-vid{
    margin-left: -2px;
}

.sender .modal-edit-vid p{
cursor: pointer;
}
/* receiver */
.receiver {
  display: flex; 
  flex-direction: row; 
  padding: 5px 5px;
}

.receiver:first-child{
  margin-top: 1rem;
}

.receiver .box-msg {
  margin-left: auto;
}

.receiver .content-msg{
  display: flex;
  padding-left: 1rem;
  position: relative;
}

.receiver .content-msg .text-msg{
  padding: 10px 8px;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
  background-color: #EFEFEF;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 180px;
  height: auto;
}

.receiver .edit-msg{
  margin-left: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-10%, -50%) ;
}

.receiver .dot-msg-brown{
  display: none; 
}

.receiver .dot-msg-black{
   display: none;
   cursor: pointer;
}

.receiver .heart-msg{
  position: absolute;
  bottom: -12px;
  right: 0;
  padding: 1px;
  text-align: center;
  background-color: #EFEFEF;
  border: 2px solid #fff;
  border-radius: 50% 50%;
  height: 25px;
  width: 25px;
  visibility: hidden;
}

.receiver .heart-msg span:first-child{
    position: relative;
    top: -3px;
    left: 6px;
    font-size: 12px;
    font-weight: bold;
}

.receiver .heart-msg span:nth-last-child(4n+1){
  position: relative;
  top: 4px;
  left: 2px;

  font-size: 8px;
}

/* video */
.receiver .attach-vid{
  display: flex;
  /* margin-right: 1rem; */
}

.receiver .edit-vid{
  margin-left: auto;
  position: relative;
  top: 0;
  padding-left: 1rem;
}

.receiver .video-msg iframe{
  border-radius: 12px 12px;
  width: 170px;
  height: 120px;
}

.receiver .dot-vid-brown{
  display: none;
  position: absolute;
  top: 40%;
  left: 0;
}

.receiver .dot-vid-black{
  display: none;
  position: absolute;
  top: 40%;
  left:0;
  cursor: pointer;
}

.receiver .video-msg{
  position:relative;
  bottom: 0;
  right: 0;
}

.receiver .heart-vid {
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 1px;
  text-align: center;
  background-color: #EFEFEF;
  border: 2px solid #fff;
  border-radius: 50% 50%;
  font-size: 13px;
  height: 25px;
  width: 25px;
  /* visibility: hidden; */
}
.receiver .heart-vid span:first-child{
  position: relative;
  top: -3px;
  left: 6px;
  font-size: 12px;
  font-weight: bold;
}

.receiver .heart-vid span:nth-last-child(4n+1){
  position: relative;
  top: 4px;
  left: 2px;

  font-size: 8px;
}
/* image */
.receiver .attach-img{
  display: flex;
}

.receiver .edit-img{
  margin-left: auto;
  position: relative;
  top: 0;
}

.receiver .img-msg .inner-width{
  width: 100%;
  max-width: 250px;
}

.receiver .img-msg .gallery{
  display: flex;
  justify-content: center;
  margin-right: -1rem;
  margin-left: -0.8rem;
}

.receiver .img-msg .image{
  display: block !important;
  flex: 10%;
  overflow: hidden;
}

.receiver .img-msg .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.receiver .img-msg .image img{
  width: 100px;
  height: 100px;
  margin: 5px 0;
}

.receiver .dot-img-brown{
  display: none;
  position: absolute;
  top: 40%;
  left: -16px;
}

.receiver .dot-img-black{
  display: none;
  position: absolute;
  top: 40%;
  left: -16px;
  cursor: pointer;
}

.receiver .img-msg{
  position: relative;
  bottom: 0;
  right: 0;
}

.receiver .heart-img {
  position: absolute;
  bottom: 0px;
  right: -5px;
  padding: 1px;
  text-align: center;
  background-color: #EFEFEF;
  border: 2px solid #fff;
  border-radius: 50% 50%;
  font-size: 13px;
  height: 25px;
  width: 25px;
  visibility: hidden;
}

.receiver .heart-img span:first-child{
  position: relative;
  top: -3px;
  left: 6px;
  font-size: 12px;
  font-weight: bold;
}

.receiver .heart-img span:nth-last-child(4n+1){
  position: relative;
  top: 4px;
  left: 2px;

  font-size: 8px;
}
/* modal eidt image */
.receiver .modal-edit-img{
    position: absolute;
    top: 0;
    left: -4.75rem;
    display: flex;
    visibility: hidden;
    padding: 5px 7px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    width: 105px;
    height: 35px;
    background-color: #000000;
    border-radius: 8px;
}

.receiver .modal-edit-img .img-like {
  width: 35px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 1.1rem;
}

.receiver .modal-edit-img .img-unlike {
  width: 26px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 1.5rem;
}

.receiver .modal-edit-img p.unlike-img+p{
  padding-left: -0.1rem;
}

.receiver .modal-edit-img p.unlike-img-0+p{
    padding-left: 0.4rem;
}

.receiver .modal-edit-img p{
  cursor: pointer;
}

/* modal eidt video */
.receiver .modal-edit-vid{
    position: absolute;
    top: 0.25rem;
    left: -4rem;
    display: flex;
    visibility: hidden;
    padding: 5px 7px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    width: 105px;
    height: 35px;
    background-color: #000000;
    border-radius: 8px;
    z-index: 1;
}

.receiver .modal-edit-vid .vid-like {
  width: 35px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 1.1rem;
}

.receiver .modal-edit-vid .vid-unlike {
  width: 26px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 1.5rem;
}

.receiver .modal-edit-vid p.unlike-vid+p{
  padding-left: -0.1rem;
}

.receiver .modal-edit-vid p.unlike-vid-0+p{
    padding-left: 0.4rem;
}
.receiver .modal-edit-vid p{
  cursor: pointer;
}

/* modal eidt message */
.receiver .modal-edit-msg{
    position: absolute;
    right: -0.5rem;
    top: -2.25rem;
    display: flex;
    visibility: hidden;
    padding: 5px 7px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    width: 105px;
    height: 35px;
    background-color: #000000;
    border-radius: 8px;
}

.receiver .modal-edit-msg .msg-like {
  width: 35px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 1.05rem;
}

.receiver .modal-edit-msg .msg-unlike {
  width: 26px;
  height: 18px;
  position: relative;
  top: 1.2rem;
  right: 1.3rem;
}

.receiver .modal-edit-msg p.unlike-msg+p{
  padding-left: -0.1rem;
}

.receiver .modal-edit-msg p.unlike-msg-0+p{
    padding-left: 0.4rem;
}

.receiver .modal-edit-msg p{
  cursor: pointer;
}



.sender:hover {
  cursor: pointer;
}

.user-input {
  display : none;
}


.inputFlex{ 
    width: 100%;
    height: auto;
}

.input-msg{
  border-top: 1px solid var(--medium-grey);
}

.input-msg form {
    position: relative;
    top: 0;
    left: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: 0;

  height: 50px;
  width: 100%;
  padding-top: 10px;



}

.input-msg a {
  padding:0 8px;
}

.input-msg a button{
    border: none;
    outline: none;
    background:none;
}

.btnSmile{
    position:absolute;
    top: 16px;
    left: 24px;

   
    background-color: #FFFFFF;
    
    outline: none;
    border: none;

}

.btnCover{
    margin: -5px -5px;
}

.faSmile{
    margin-top: -0.15rem;
}


.btnSmile:focus{
    outline: none;
    border: none;
}

.send-input {
  font-size: 15px; 
  padding-left: 50px;
  margin-left: 12px;
  margin-top: -1px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #dbdbdb;
  width: 90%;
}

.send-input:focus{
    border: 1px solid #dbdbdb;
    outline: none;
}

/* preview files */
.pre-img .image{
  position: relative;
  top: 0;
  left: 0;

  flex: unset;
}

.pre-img .image:last-child{
  margin-bottom: 0.2rem;
}

.pre-img .image img{
  width: 100px;
  height: 100px;
}

.pre-vid .image video{
  width: 200px;
  height: 170px;
  padding: 0 0;
  border: 1px solid #EFEFEF;
}

.pre-vid .co-remove{
  position: absolute;
  top: 2px;
  left: 9.1rem;
  background-color:#333;
  opacity: 0.7;
  height: 21px;
  border-radius: 50% 50%;
}

.co-remove{
  position: absolute;
  top: 2px;
  left: 4.2rem;
  background-color:#333;
  opacity: 0.7;
  height: 21px;
  border-radius: 50% 50%;
}

.re-image{
  position: relative;
  top: -8px;
  right: 0;
  
  font-size: 15px;
  padding: 0 5px;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 375px)
{
    main {
        align-items: center !important;
        min-width: 100%;
        
        margin-left: 1rem !important;
        margin-top: 1rem;
      
    }

}

@media screen and (min-width: 200px)
{
  .stack-img-send{
    margin-right: 27vw;
  }

 

  .sender, .receiver, .user-input {
    width: auto;
  }
}

@media only screen and (max-width: 575px) {
  main {
    margin-left: 2rem !important;
  }
}

@media screen and (max-width: 600px)
{
 
  main {
    height: 100vh;
    width: 90vw;
   
  }
}
@media only screen and (max-width: 768px) {
   main {
    margin-left: 0;
    height: 82vh;
    width: 100vw;
  }
  .preview {
    display: none;
  }
  .chats {
    width: 100%;

  }

}









