
<%- include ("./headerLogin") %>

<body>
    <div class="container">
        <div class="login-form">
            <div class="contain-icon">
                <a href="#"><img src="/img/logoInstagram.png" alt="" id="google"></a>
            </div>
            <p class="login-form__title">Instagram</p>
           
            <form name="login-form" method="post" href="/login" class="form1">
                <div class="form-group "  >       
                    <input autocomplete="off" value="<%=email%>" name="email" type="text"   placeholder="Email" id="input-log1">
                </div>
                <div class="form-group "  >
                    <input name="password" value="<%=password%>" type="password"   placeholder="Password" id="input-log2">
                </div>
                <div class="form-group">
                    <% if(error.length > 0) {%>
                    <div class="alert alert-danger alert-dismissible " style="width: 80%;">
                      <button type="button" class="close" data-dismiss="alert"  aria-label="close">&times;</button>
                      <%= error%>  
                    </div>
                  <%}%>
                  </div> 
                <div class="form-group" id="login1">
                    <button class="btn btn-login" type="submit" >Login</button>
                </div>

                <div class="row" id="lineRow" >
                    <hr size="5" width="150" text-align="left" style="position: relative; top: -.35em;left: 1.5rem;"> 
                    <p style="color: #8E8E8E; font-weight: bold;">OR</p>
                    <hr size="5" width="150" text-align="right" style="position: relative; top: -.35em;right: 1.5rem;">
                </div>
                <p class="forgot" align="center">
                    <img id="googleImg" src="/img/google.png" alt="">
                    <a href="/auth/google" id="logGoogle" style="position: relative; top: 0.05rem">Log in with Google </a>
                </p>
                <p class="forgot" align="center" style="padding-bottom: 1rem ;">
                        <a href="/forget" id ="forgotPas" style="margin-bottom: 15px;">Forgot Password? </a>
                </p>
            </form>
        </div>
    </div>
    <div class="container" >
        <div class="login-form">
            <p class="forgot" align="center" style="padding: 5px 10px 10px 10px;">
                Don't have an account?
                <a href="/register" id ="forgotPas" style="margin-bottom: 15px;margin-left: -2px ;font-size: 20px; font-weight: bold;">Sign up</a>
            </p>
        </div>
    </div>




</body>

