<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/navBar.css">
    <script src="/js/nav.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- Just an image -->
    <nav class="navbar navbar-light " id="navColor">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a class="navbar-brand ml-5" href="#">
                        <img src="/img/instagram-logo.png" class="img-brand" width="350" height="60" alt="" >
                    </a>
                </div>
                <div class="col-5">
                    <form class="form-inline" id="searchNav">
                        <input class="form-control mr-sm-2 mainLoginInput" type="search" placeholder="&#61442; Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="visibility: hidden;">Search</button>
                    </form>
                </div>
                <div class="col-4">
                    
                        <a href="#search"><i class="fas fa-home"></i></a>
                        <a href="#search"><i class="far fa-paper-plane"></i></a>
                        <a href="#search"><i class="far fa-compass"></i></a>
                        <a href="#search"><i class="far fa-heart"></i></a>
                        <img src="/img/google.png" width="62" alt="" style="padding-left:1em;padding-bottom: 0.75em;">
                     
                </div>
            </div>
           
              
               
        </div>
       
  </nav>
</body>
</html>