<%- include ("shares/header") %>
    <!-- List user not follow -->
    
    <div class="container listUn">
        <p id="sug">Suggested</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="inforUser">
                    <ul class="listPeople">
                        <li>
                            <div class="row belowSuggest1">
                                <img class="imgUserOther1" width="60" height="60" src="/img/kim.png" alt="Card image cap"
                                    style="border-radius: 50% 50%;">
                                <span class="card-title "><a href="#" class="nameOfUser1">leejoon</a></span>
                                <small class="midNameUser1">Instagram recommended</small>
                                <a class="btn btn-primary wordImg1">Follow</a>
    
                            </div>
                        </li>
                        <li>
                            <div class="row belowSuggest1">
                                <img class="imgUserOther1" width="60" height="60" src="/img/kim.png" alt="Card image cap"
                                    style="border-radius: 50% 50%;">
                                <span class="card-title "><a href="#" class="nameOfUser1">leejoon</a></span>
                                <small class="midNameUser1">Instagram recommended</small>
                                <a class="btn btn-primary wordImg1">Follow</a>
    
                            </div>
                        </li>
                    </ul>
                </div>
             
            </div>
        </div>
    </div>
    
<%- include ("shares/footer") %>