<%- include ("shares/header") %>

    <!-- List user not follow -->
    
    <div class="container sendMes">
        <div class="row">
            <div class="col-lg-12">
                <p>leejoon</p>
             
            </div>
        </div>
    </div>
    
<%- include ("shares/footer") %>